include README.md
include README.org
include LICENSE
recursive-include kvl *.py
recursive-include tests *.py
recursive-include examples *.kvl
recursive-include docs *.org
prune .git
prune .pytest_cache
prune *.egg-info
